<a href="https://colab.research.google.com/github/ryann-arruda/machine-learning/blob/main/machine_learning_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv('clothes_price_prediction_data.csv')
df

            Brand Category   Color Size   Material  Price
0     New Balance    Dress   White   XS      Nylon    182
1     New Balance    Jeans   Black   XS       Silk     57
2    Under Armour    Dress     Red    M       Wool    127
3            Nike    Shoes   Green    M     Cotton     77
4          Adidas  Sweater   White    M      Nylon    113
..            ...      ...     ...  ...        ...    ...
995          Puma    Jeans   Black    L  Polyester    176
996          Puma   Jacket     Red  XXL       Silk    110
997        Reebok  Sweater    Blue   XS      Denim    127
998  Under Armour  Sweater   Black  XXL      Denim     69
999   New Balance   Jacket  Yellow   XS       Wool    174

[1000 rows x 6 columns]

## **Preprocessing**

Let's know the data types.

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Brand     1000 non-null   object
 1   Category  1000 non-null   object
 2   Color     1000 non-null   object
 3   Size      1000 non-null   object
 4   Material  1000 non-null   object
 5   Price     1000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

Thus, executing the previous cell, we can observe that this data set has five columns whose type is *string*, while one column (**Price**) has the type *int*.

Before proceeding with the preprocessing step, you need to check for missing data.

In [22]:
df.isnull().sum()

Brand       0
Category    0
Color       0
Size        0
Material    0
Price       0
dtype: int64

We can see in the previous execution that there is no missing data. However, another important point that must be checked is the existence of duplicate data, because if there is any, it must be eliminated.

In [23]:
df.duplicated().sum()

0

Now, let's analyze the balance of the data in relation to each characteristic that composes it, with the exception of price, which will be the target attribute that will be predicted by the model.

In [24]:
df['Brand'].value_counts()

Brand
Under Armour    179
Puma            168
Adidas          166
Nike            165
New Balance     164
Reebok          158
Name: count, dtype: int64

In [25]:
df['Category'].value_counts()

Category
Jacket     191
Shoes      172
Jeans      167
Dress      166
Sweater    160
T-shirt    144
Name: count, dtype: int64

In [26]:
df['Color'].value_counts()

Color
Yellow    173
White     171
Red       168
Black     163
Blue      163
Green     162
Name: count, dtype: int64

In [27]:
df['Material'].value_counts()

Material
Polyester    175
Silk         173
Wool         172
Denim        163
Cotton       162
Nylon        155
Name: count, dtype: int64

In [28]:
df['Size'].value_counts()

Size
XS     196
XXL    173
XL     167
S      166
M      157
L      141
Name: count, dtype: int64

Next, we will transform the data from categorical values â€‹â€‹to numeric values â€‹â€‹using the One-Hot-Encoding technique. However, since this technique is used with values â€‹â€‹that do not represent a pre-established sequence or order, it will only be used with the **Brand**, **Category**, **Color** and **Material** columns.

In [29]:
encoded_brand = pd.get_dummies(df['Brand'])
encoded_category = pd.get_dummies(df['Category'])
encoded_color = pd.get_dummies(df['Color'])
encoded_material = pd.get_dummies(df['Material'])

In [30]:
df = df.drop(columns=['Brand', 'Category', 'Color', 'Material'], axis=1)

In [31]:
df = pd.concat([df, encoded_brand], axis=1)
df = pd.concat([df, encoded_category], axis=1)
df = pd.concat([df, encoded_color], axis=1)
df = pd.concat([df, encoded_material], axis=1)

For the 'Size' column, as it represents a sequence of increasing size, it will be transformed from categorical to numeric values â€‹â€‹using the Label Encoding technique.

In [32]:
label_encoder = LabelEncoder()

In [33]:
encoded_size = label_encoder.fit_transform(df['Size'])

In [34]:
df['Size'] = encoded_size

Now we will calculate the correlation in order to eliminate, if necessary, redundant data, that is, data with high correlation (>= 0.95).

In [35]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

As can be seen from the correlation matrix above, there is no high or low correlation, so no attribute will be eliminated.

Unfortunately, in regression problems, checking for high dimensionality is more difficult. Techniques that use TSNE are better suited for classification problems, since there is a separation between distinct classes.

Therefore, we will continue with this number of features and, if necessary, we will go back and reduce them.

## **Regression**

I'll use two classification models to compare the results obtained. The first algorithm to be used will be Random Forest and the second is Linear Regression.

### **Random Forest**